
<hr>
<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
                <ul class="list-inline text-center">
                    <li class="list-inline-item">
                        <a href="{{ site.url }}" target="_blank">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                </span>
                        </a>
                    </li>
                </ul>
                <p class="copyright text-muted">Copyright &copy; {{ site.author }} 2018. <a href="{{ site.url }}" target="_blank" title="{{ site.title }}">{{ site.author }}</a></p>
            </div>
        </div>
    </div>
</footer>

<!-- jQuery Version 3.1.1 -->
<script src="{{ site.baseurl }}/assets/lib/jquery/jquery.js"></script>

<!-- Tether -->
<script src="{{ site.baseurl }}/assets/lib/tether/tether.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{{ site.baseurl }}/assets/lib/bootstrap/js/bootstrap.min.js"></script>

<!-- Theme JavaScript -->
<script src="{{ site.baseurl }}/assets/js/clean-blog.min.js"></script>
